<!DOCTYPE html>
<html>
<head>

<title>Big Rigs Form East TN</title>

<style type="text/css">
label {font-weight: bold;}
form > p { padding-bottom: 0px; }
span {font-weight: 500;}
table.table:hover {
	box-shadow: 0px 0px 10px rgb(42, 136, 173);
	-moz-box-shadow: 0px 0px 10px rgb(42, 136, 173);
	-webkit-box-shadow: 0px 0px 10px rgb(42, 136, 173);
}
.table input[type="submit"] {
	display: inline-block;
    border: 1px solid #e5e5e5;
    background: #F4F4F4;
    color: #202020;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
	/*display: block;margin: 5px;padding: 4px 15px;border: 1px solid #4081af;border-bottom-color: #20559a;color: white;text-align: center;text-shadow: 0 -1px 0 rgba(0,0,0,.3);text-decoration: none;-webkit-border-radius: 4px;-moz-border-radius: 4px;khtml-border-radius: 4px;border-radius: 4px;background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #52a8e8), color-stop(1, #2e76cf));background: -moz-linear-gradient(center top, #52a8e8 20%, #2e76cf 100%);*/
}
input[type="submit"]:hover, input[type="submit"]:focus {
    background: #202020;
    color: #fff;
    border-color: #202020;
    outline: 0;
}
.entry-content table, .entry-content tr td {
	border: transparent;
    background: #FAF6EA;
    border-radius: 15px;
}
input[type="text"], input, select {
    background: white;
    color: #212a34;
    font: inherit;
    padding: 7px 15px;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 6px;
    outline: none;
    height: 45px;
}
@media (max-width:767px) {
    .entry-content tr td {
	    border: transparent;
		max-width: 100%;
		display: block;
	}
}
</style>

</head>
<body>

<form name="easttn" method="post" action="https://paywithcardx.com/pay/" onchange="calculate()" onsubmit="javascript:return ();" id="" _lpchecked="1" ng-app>
	<input type='hidden' name='pt_gateway_account' value='surchrgdem'><!-- field to set gateway account name --><input type='hidden' name='pt_ach_sec_code' value='WEB'><!-- required for ACH transactions --><input type='hidden' name='pd_display_items' value='yes'><!-- field to allow payment page to display itemized data --><!--<input type='hidden' name='pb_success_url' value='http://www.yoursite.com/thankyou.htm'> field sets the landing page or thank you page URL --><input type='hidden' name='pt_account_code_1' value='golf'><!-- field for identifier -->
	<table class="table">
		<tr>
			<td><label>East TN:</label></td>
			<td>
				<select id="playersselect" name="" ng-model="playersselect">
					<option value="">Select</option>
					<option value="148.75">1 Player $148.75</option>
					<option value="300.00">2 Players $300.00</option>
					<option value="446.25">3 Players $446.25</option>
					<option value="600.75">4 Players $600.75</option>
				</select>
			</td>
		</tr>
		<!-- === -->
		<tr>
			<td><label>Players' Name:</label></td>
			<td>
				<div ng-if="playersselect == null">
					<input type="hidden" name="pt_item_cost_1" value="175.00">
					<input type="hidden" name="pt_item_identifier_1" value="">
					<input type="hidden" name="pt_item_quantity_1" value="{{eastqty}}">
					<input type="hidden" name="pt_item_description_1" value="Sponsor - {{eastsponsor}}">
				</div>
				<div ng-if="playersselect === '148.75'">
					<input type="hidden" name="pt_item_cost_1" value="175.00">
					<input type="hidden" name="pt_item_cost_2" value="148.75">
					<input type="hidden" name="pt_item_cost_3" value="0.00">

					<input type="hidden" name="pt_item_identifier_1" value="Add $175.00">
					<input type="hidden" name="pt_item_identifier_2" value="Add $148.75">
					<input type="hidden" name="pt_item_identifier_3" value="Player 1 - {{eastsponsor}}">

					<input type="hidden" name="pt_item_quantity_1" value="{{eastqty}}">
					<input type="hidden" name="pt_item_quantity_2" value="1">
					<input type="hidden" name="pt_item_quantity_3" value="1">

					<input type="hidden" name="pt_item_description_1" value="">
					<input type="hidden" name="pt_item_description_2" value="">
					<input type="text" name="pt_item_description_3" value="">
				</div>
				<div ng-if="playersselect === '300.00'">
					<input type="hidden" name="pt_item_cost_1" value="175.00">
					<input type="hidden" name="pt_item_cost_2" value="300.00">
					<input type="hidden" name="pt_item_cost_3" value="0.00">
					<input type="hidden" name="pt_item_cost_4" value="0.00">

					<input type="hidden" name="pt_item_identifier_1" value="Add $175.00">
					<input type="hidden" name="pt_item_identifier_2" value="Add $300.00">
					<input type="hidden" name="pt_item_identifier_3" value="Player 1 - {{eastsponsor}}">
					<input type="hidden" name="pt_item_identifier_4" value="Player 2 - {{eastsponsor}}">

					<input type="hidden" name="pt_item_quantity_1" value="{{eastqty}}">
					<input type="hidden" name="pt_item_quantity_2" value="1">
					<input type="hidden" name="pt_item_quantity_3" value="1">
					<input type="hidden" name="pt_item_quantity_4" value="1">

					<input type="hidden" name="pt_item_description_1" value="">
					<input type="hidden" name="pt_item_description_2" value="">
					<input type="text" name="pt_item_description_3" value="">
					<input type="text" name="pt_item_description_4" value="">
				</div>
				<div ng-if="playersselect === '446.25'">
					<input type="hidden" name="pt_item_cost_1" value="175.00">
					<input type="hidden" name="pt_item_cost_2" value="446.25">
					<input type="hidden" name="pt_item_cost_3" value="0.00">
					<input type="hidden" name="pt_item_cost_4" value="0.00">
					<input type="hidden" name="pt_item_cost_5" value="0.00">

					<input type="hidden" name="pt_item_identifier_1" value="Add $175.00">
					<input type="hidden" name="pt_item_identifier_2" value="Add $446.25">
					<input type="hidden" name="pt_item_identifier_3" value="Player 1 - {{eastsponsor}}">
					<input type="hidden" name="pt_item_identifier_4" value="Player 2 - {{eastsponsor}}">
					<input type="hidden" name="pt_item_identifier_5" value="Player 3 - {{eastsponsor}}">

					<input type="hidden" name="pt_item_quantity_1" value="{{eastqty}}">
					<input type="hidden" name="pt_item_quantity_2" value="1">
					<input type="hidden" name="pt_item_quantity_3" value="1">
					<input type="hidden" name="pt_item_quantity_4" value="1">
					<input type="hidden" name="pt_item_quantity_5" value="1">

					<input type="hidden" name="pt_item_description_1" value="">
					<input type="hidden" name="pt_item_description_2" value="">
					<input type="text" name="pt_item_description_3" value="">
					<input type="text" name="pt_item_description_4" value="">
					<input type="text" name="pt_item_description_5" value="">
				</div>
				<div ng-if="playersselect === '600.75'">
					<input type="hidden" name="pt_item_cost_1" value="175.00">
					<input type="hidden" name="pt_item_cost_2" value="600.75">
					<input type="hidden" name="pt_item_cost_3" value="0.00">
					<input type="hidden" name="pt_item_cost_4" value="0.00">
					<input type="hidden" name="pt_item_cost_5" value="0.00">
					<input type="hidden" name="pt_item_cost_6" value="0.00">

					<input type="hidden" name="pt_item_identifier_1" value="Add $175.00">
					<input type="hidden" name="pt_item_identifier_2" value="Add $600.75">
					<input type="hidden" name="pt_item_identifier_3" value="Player 1 - {{eastsponsor}}">
					<input type="hidden" name="pt_item_identifier_4" value="Player 2 - {{eastsponsor}}">
					<input type="hidden" name="pt_item_identifier_5" value="Player 3 - {{eastsponsor}}">
					<input type="hidden" name="pt_item_identifier_6" value="Player 4 - {{eastsponsor}}">
					
					<input type="hidden" name="pt_item_quantity_1" value="{{eastqty}}">
					<input type="hidden" name="pt_item_quantity_2" value="1">
					<input type="hidden" name="pt_item_quantity_3" value="1">
					<input type="hidden" name="pt_item_quantity_4" value="1">
					<input type="hidden" name="pt_item_quantity_5" value="1">
					<input type="hidden" name="pt_item_quantity_6" value="1">

					<div><input type="hidden" name="pt_item_description_1" value=""></div>
					<div><input type="hidden" name="pt_item_description_2" value=""></div>
					<div><input type="text" name="pt_item_description_3" value=""></div>
					<div><input type="text" name="pt_item_description_4" value=""></div>
					<div><input type="text" name="pt_item_description_5" value=""></div>
					<div><input type="text" name="pt_item_description_6" value=""></div>
				</div>
			</td>
		</tr>
		<!-- === -->
		<tr>
			<td><label>Hole Sponsorship ($175/each)</label></td>
			<td></td>
		</tr>
		<!-- === -->
		<tr>
			<td><label>Quantity:</label></td>
			<td>
				<select id="quantityId" oninput="calculate()" name="" ng-model="eastqty">
					<option value="">Select</option>
					<option value="1">1</option><option value="2">2</option>
					<option value="3">3</option><option value="4">4</option>
					<option value="5">5</option><option value="6">6</option>
					<option value="7">7</option><option value="8">8</option>
					<option value="9">9</option><option value="10">10</option>
					<option value="11">11</option><option value="12">12</option>
					<option value="13">13</option><option value="14">14</option>
					<option value="15">15</option><option value="16">16</option>
					<option value="17">17</option><option value="18">18</option>
				</select>
			</td>
			<td><label>Amount:</label></td>
			<td><input id="resultAmount" readonly="readonly" name="" value=""></td>
		</tr>
		<!-- === -->
		<tr>
			<td><label>Name for Sponsor Signage</label></td>
			<td><input type="text" name="" ng-model="eastsponsor" value=""></td>
		</tr>
		<!-- === -->
		<tr>
			<td colspan="2"></td>
			<td><label>Total:</label></td>
			<td><input value="" name="" id="totalAmount" readonly="readonly"></td>
		</tr>
		<!-- === -->
		<tr>
			<td colspan="3"></td>
			<td>
				<input type='submit' name='return' value='Pay Now'>
			</td>
		</tr>
	</table>
	<!-- Forcing a page to reload when the Back button is clicked -->
	<input type="hidden" id="refreshed" value="no">
</form>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script type="text/javascript"> //Forcing a page to reload when the Back button is clicked
onload=function(){
    var e=document.getElementById("refreshed");
    if(e.value=="no")e.value="yes";
    else{
        e.value="no";
        location.reload();
    }
}
</script>
<script type="text/javascript">
function calculate() {
	var x = document.getElementById("playersselect").value;

	var qty = document.getElementById('quantityId').value;
	var resultAmount = document.getElementById('resultAmount');
	var myResult = qty * 175.00;
	resultAmount.value = myResult;

	var totalAmount = document.getElementById('totalAmount');
	totalAmount.value = (+x) + (+myResult);
}
</script>

</body>
</html>