<!DOCTYPE html>
<html>
<head>

<title>Big Rigs Form Middle TN</title>

<style type="text/css">
label {font-weight: bold;}
form > p { padding-bottom: 0px; }
span {font-weight: 500;}
table.table:hover {
    box-shadow: 0px 0px 10px rgb(42, 136, 173);
    -moz-box-shadow: 0px 0px 10px rgb(42, 136, 173);
    -webkit-box-shadow: 0px 0px 10px rgb(42, 136, 173);
}
.table input[type="submit"] {
    display: inline-block;
    border: 1px solid #e5e5e5;
    background: #F4F4F4;
    color: #202020;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    /*display: block;margin: 5px;padding: 4px 15px;border: 1px solid #4081af;border-bottom-color: #20559a;color: white;text-align: center;text-shadow: 0 -1px 0 rgba(0,0,0,.3);text-decoration: none;-webkit-border-radius: 4px;-moz-border-radius: 4px;khtml-border-radius: 4px;border-radius: 4px;background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #52a8e8), color-stop(1, #2e76cf));background: -moz-linear-gradient(center top, #52a8e8 20%, #2e76cf 100%);*/
}
input[type="submit"]:hover, input[type="submit"]:focus {
    background: #202020;
    color: #fff;
    border-color: #202020;
    outline: 0;
}
.entry-content table, .entry-content tr td {
    border: transparent;
    background: #FAF6EA;
    border-radius: 15px;
}
input[type="text"], input, select {
    background: white;
    color: #212a34;
    font: inherit;
    padding: 7px 15px;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 6px;
    outline: none;
    height: 45px;
}
@media (max-width:767px) {
    .entry-content tr td {
        border: transparent;
        max-width: 100%;
        display: block;
    }
}
</style>

</head>
<body>

<form name="middletn" method="post" action="https://paywithcardx.com/pay/" onchange="calculateMiddleTn()" onsubmit="javascript:return ();" id="" _lpchecked="1" ng-app>
	<input type='hidden' name='pt_gateway_account' value='surchrgdem'><!-- field to set gateway account name --><input type='hidden' name='pt_ach_sec_code' value='WEB'><!-- required for ACH transactions --><input type='hidden' name='pd_display_items' value='yes'><!-- field to allow payment page to display itemized data --><input type='hidden' name='pb_success_url' value='http://www.yoursite.com/thankyou.htm'> <!-- field sets the landing page or thank you page URL --><input type='hidden' name='pt_account_code_1' value='golf'><!-- field for identifier -->
	<table class="table">
		<tr>
			<td><label>Middle TN:</label></td>
			<td>
				<select id="playersselectMiddleTn" name="" ng-model="playersselectMiddleTn">
					<option value="">Select</option>
					<option value="212.50">1 Player $212.50</option>
					<option value="425.00">2 Players $425.00</option>
					<option value="637.50">3 Players $637.50</option>
					<option value="840.00">4 Players $840.00</option>
				</select>
			</td>
		</tr>
		<!-- === -->
		<tr>
			<td><label>Players' Name:</label></td>
			<td>
                <div ng-if="playersselectMiddleTn == null">
                    <input type="hidden" name="pt_item_cost_1" value="0.00">
                    <input type="hidden" name="pt_item_identifier_1" value="">
                    <input type="hidden" name="pt_item_quantity_1" value="1">
                    <input type="hidden" name="pt_item_description_1" value="Sponsor - {{middlesponsor}}">
                </div>
                <div ng-if="playersselectMiddleTn === '212.50'"><!-- 1 Player $212.50 -->
                    <input type="hidden" name="pt_item_cost_1" value="212.50">
                    <input type="hidden" name="pt_item_cost_2" value="0.00">
                    <input type="hidden" name="pt_item_cost_3" value="{{middlesponsordropdown}}">

                    <input type="hidden" name="pt_item_identifier_1" value="Add $212.50">
                    <input type="hidden" name="pt_item_identifier_2" value="Player 1 - {{middlesponsor}}">
                    <input type="hidden" name="pt_item_identifier_3" value="">

                    <input type="hidden" name="pt_item_quantity_1" value="1">
                    <input type="hidden" name="pt_item_quantity_2" value="1">
                    <input type="hidden" name="pt_item_quantity_3" value="1">

                    <input type="hidden" name="pt_item_description_1" value="">
                    <input type="text" name="pt_item_description_2" value="">
                    <span ng-if=" middlesponsordropdown === '200.00' ">
                        <input type="hidden" name="pt_item_description_3" value="Hole Sponsorship ${{middlesponsordropdown}} - {{golfcourseMiddleTn}}">
                    </span>
                    <span ng-if=" middlesponsordropdown === '2500.00' ">
                        <input type="hidden" name="pt_item_description_3" value="Booster (includes 4 Players) ${{middlesponsordropdown}} - {{golfcourseMiddleTn}}">
                    </span>
                    <span ng-if=" middlesponsordropdown === '750.00' ">
                        <input type="hidden" name="pt_item_description_3" value="Scholarship Sponsor ${{middlesponsordropdown}} - {{golfcourseMiddleTn}}">
                    </span>
                    <span ng-if=" middlesponsordropdown === '500.00' ">
                        <input type="hidden" name="pt_item_description_3" value="Luncheon Sponsor ${{middlesponsordropdown}} - {{golfcourseMiddleTn}}">
                    </span>
                    <span ng-if=" middlesponsordropdown === '250.00' ">
                        <input type="hidden" name="pt_item_description_3" value="Trophy Sponsor ${{middlesponsordropdown}} - {{golfcourseMiddleTn}}">
                    </span>
                    
                </div>
                <div ng-if="playersselectMiddleTn === '425.00'"><!-- 2 Players $425.00 -->
                    <input type="hidden" name="pt_item_cost_1" value="425.00">
                    <input type="hidden" name="pt_item_cost_2" value="0.00">
                    <input type="hidden" name="pt_item_cost_3" value="0.00">
                    <input type="hidden" name="pt_item_cost_4" value="{{middlesponsordropdown}}">

                    <input type="hidden" name="pt_item_identifier_1" value="Add $425.00">
                    <input type="hidden" name="pt_item_identifier_2" value="Player 1 - {{middlesponsor}}">
                    <input type="hidden" name="pt_item_identifier_3" value="Player 2 - {{middlesponsor}}">
                    <input type="hidden" name="pt_item_identifier_4" value="">

                    <input type="hidden" name="pt_item_quantity_1" value="1">
                    <input type="hidden" name="pt_item_quantity_2" value="1">
                    <input type="hidden" name="pt_item_quantity_3" value="1">
                    <input type="hidden" name="pt_item_quantity_4" value="1">

                    <input type="hidden" name="pt_item_description_1" value="">
                    <input type="text" name="pt_item_description_2" value="">
                    <input type="text" name="pt_item_description_3" value="">
                    <span ng-if=" middlesponsordropdown === '200.00' ">
                        <input type="hidden" name="pt_item_description_4" value="Hole Sponsorship ${{middlesponsordropdown}} - {{golfcourseMiddleTn}}">
                    </span>
                    <span ng-if=" middlesponsordropdown === '2500.00' ">
                        <input type="hidden" name="pt_item_description_4" value="Booster (includes 4 Players) ${{middlesponsordropdown}} - {{golfcourseMiddleTn}}">
                    </span>
                    <span ng-if=" middlesponsordropdown === '750.00' ">
                        <input type="hidden" name="pt_item_description_4" value="Scholarship Sponsor ${{middlesponsordropdown}} - {{golfcourseMiddleTn}}">
                    </span>
                    <span ng-if=" middlesponsordropdown === '500.00' ">
                        <input type="hidden" name="pt_item_description_4" value="Luncheon Sponsor ${{middlesponsordropdown}} - {{golfcourseMiddleTn}}">
                    </span>
                    <span ng-if=" middlesponsordropdown === '250.00' ">
                        <input type="hidden" name="pt_item_description_4" value="Trophy Sponsor ${{middlesponsordropdown}} - {{golfcourseMiddleTn}}">
                    </span>
                </div>
                <div ng-if="playersselectMiddleTn === '637.50'"><!-- 3 Players $637.50 -->
                    <input type="hidden" name="pt_item_cost_1" value="637.50">
                    <input type="hidden" name="pt_item_cost_2" value="0.00">
                    <input type="hidden" name="pt_item_cost_3" value="0.00">
                    <input type="hidden" name="pt_item_cost_4" value="0.00">
                    <input type="hidden" name="pt_item_cost_5" value="{{middlesponsordropdown}}">

                    <input type="hidden" name="pt_item_identifier_1" value="Add $637.50">
                    <input type="hidden" name="pt_item_identifier_2" value="Player 1 - {{middlesponsor}}">
                    <input type="hidden" name="pt_item_identifier_3" value="Player 2 - {{middlesponsor}}">
                    <input type="hidden" name="pt_item_identifier_4" value="Player 3 - {{middlesponsor}}">
                    <input type="hidden" name="pt_item_identifier_5" value="">

                    <input type="hidden" name="pt_item_quantity_1" value="1">
                    <input type="hidden" name="pt_item_quantity_2" value="1">
                    <input type="hidden" name="pt_item_quantity_3" value="1">
                    <input type="hidden" name="pt_item_quantity_4" value="1">
                    <input type="hidden" name="pt_item_quantity_5" value="1">

                    <input type="hidden" name="pt_item_description_1" value="">
                    <input type="text" name="pt_item_description_2" value="">
                    <input type="text" name="pt_item_description_3" value="">
                    <input type="text" name="pt_item_description_4" value="">
                    <span ng-if=" middlesponsordropdown === '200.00' ">
                        <input type="hidden" name="pt_item_description_5" value="Hole Sponsorship ${{middlesponsordropdown}} - {{golfcourseMiddleTn}}">
                    </span>
                    <span ng-if=" middlesponsordropdown === '2500.00' ">
                        <input type="hidden" name="pt_item_description_5" value="Booster (includes 4 Players) ${{middlesponsordropdown}} - {{golfcourseMiddleTn}}">
                    </span>
                    <span ng-if=" middlesponsordropdown === '750.00' ">
                        <input type="hidden" name="pt_item_description_5" value="Scholarship Sponsor ${{middlesponsordropdown}} - {{golfcourseMiddleTn}}">
                    </span>
                    <span ng-if=" middlesponsordropdown === '500.00' ">
                        <input type="hidden" name="pt_item_description_5" value="Luncheon Sponsor ${{middlesponsordropdown}} - {{golfcourseMiddleTn}}">
                    </span>
                    <span ng-if=" middlesponsordropdown === '250.00' ">
                        <input type="hidden" name="pt_item_description_5" value="Trophy Sponsor ${{middlesponsordropdown}} - {{golfcourseMiddleTn}}">
                    </span>
                </div>
                <div ng-if="playersselectMiddleTn === '840.00'"><!-- 4 Players $840.00 -->
                    <input type="hidden" name="pt_item_cost_1" value="840.00">
                    <input type="hidden" name="pt_item_cost_2" value="0.00">
                    <input type="hidden" name="pt_item_cost_3" value="0.00">
                    <input type="hidden" name="pt_item_cost_4" value="0.00">
                    <input type="hidden" name="pt_item_cost_5" value="0.00">
                    <input type="hidden" name="pt_item_cost_6" value="{{middlesponsordropdown}}">

                    <input type="hidden" name="pt_item_identifier_1" value="Add $840.00">
                    <input type="hidden" name="pt_item_identifier_2" value="Player 1 - {{middlesponsor}}">
                    <input type="hidden" name="pt_item_identifier_3" value="Player 2 - {{middlesponsor}}">
                    <input type="hidden" name="pt_item_identifier_4" value="Player 3 - {{middlesponsor}}">
                    <input type="hidden" name="pt_item_identifier_5" value="Player 4 - {{middlesponsor}}">
                    <input type="hidden" name="pt_item_identifier_6" value="">

                    <input type="hidden" name="pt_item_quantity_1" value="1">
                    <input type="hidden" name="pt_item_quantity_2" value="1">
                    <input type="hidden" name="pt_item_quantity_3" value="1">
                    <input type="hidden" name="pt_item_quantity_4" value="1">
                    <input type="hidden" name="pt_item_quantity_5" value="1">
                    <input type="hidden" name="pt_item_quantity_6" value="1">

                    <input type="hidden" name="pt_item_description_1" value="">
                    <input type="text" name="pt_item_description_2" value="">
                    <input type="text" name="pt_item_description_3" value="">
                    <input type="text" name="pt_item_description_4" value="">
                    <input type="text" name="pt_item_description_5" value="">
                    <span ng-if=" middlesponsordropdown === '200.00' ">
                        <input type="hidden" name="pt_item_description_6" value="Hole Sponsorship ${{middlesponsordropdown}} - {{golfcourseMiddleTn}}">
                    </span>
                    <span ng-if=" middlesponsordropdown === '2500.00' ">
                        <input type="hidden" name="pt_item_description_6" value="Booster (includes 4 Players) ${{middlesponsordropdown}} - {{golfcourseMiddleTn}}">
                    </span>
                    <span ng-if=" middlesponsordropdown === '750.00' ">
                        <input type="hidden" name="pt_item_description_6" value="Scholarship Sponsor ${{middlesponsordropdown}} - {{golfcourseMiddleTn}}">
                    </span>
                    <span ng-if=" middlesponsordropdown === '500.00' ">
                        <input type="hidden" name="pt_item_description_6" value="Luncheon Sponsor ${{middlesponsordropdown}} - {{golfcourseMiddleTn}}">
                    </span>
                    <span ng-if=" middlesponsordropdown === '250.00' ">
                        <input type="hidden" name="pt_item_description_6" value="Trophy Sponsor ${{middlesponsordropdown}} - {{golfcourseMiddleTn}}">
                    </span>
                </div>
			</td>
		</tr>
		<!-- === -->
        <tr>
            <td><label>Sponsorship:</label></td>
            <td>
                <select id="sponsorshipselectMiddleTn" name="" ng-model="middlesponsordropdown">
                    <option value="">Select</option>
                    <option value="200.00">Hole Sponsorship $200.00</option>
                    <option value="2500.00">Booster (includes 4 Players) $2500.00</option>
                    <option value="750.00">Scholarship Sponsor $750.00</option>
                    <option value="500.00">Luncheon Sponsor $500.00</option>
                    <option value="250.00">Trophy Sponsor $250.00</option>
                </select>
            </td>
        </tr>
        <!-- === -->
		<tr>
			<td><label>Name for Sponsor Signage:</label></td>
			<td><input type="text" name="" ng-model="middlesponsor" value=""></td>
		</tr>
		<!-- === -->
        <tr>
            <td><label>Golf Course</label></td>
            <td>
                <select id="" name="" ng-model="golfcourseMiddleTn">
                    <option value="0.00">Select</option>
                    <option value="General's Retreat">General's Retreat</option>
                    <option value="President's Reserve">President's Reserve</option>
                </select>
            </td>
        </tr>
        <!-- === -->
		<tr>
			<td colspan="2"></td>
			<td><label>Total:</label></td>
			<td><input value="" name="" id="totalAmountMiddleTn" readonly="readonly"></td>
		</tr>
		<!-- === -->
		<tr>
            <td colspan="3"></td>
			<td><input type='submit' name='return' value='Pay Now'></td>
		</tr>
	</table>
    <!-- Forcing a page to reload when the Back button is clicked -->
    <input type="hidden" id="refreshed" value="no">
</form>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script type="text/javascript"> //Forcing a page to reload when the Back button is clicked
onload=function(){
    var e=document.getElementById("refreshed");
    if(e.value=="no")e.value="yes";
    else{
        e.value="no";
        location.reload();
    }
}
</script>
<script type="text/javascript">
function calculateMiddleTn() {
	var xMiddleTn = document.getElementById("playersselectMiddleTn").value;
    var sponsorshipMiddleTn = document.getElementById("sponsorshipselectMiddleTn").value;

	var totalAmountMiddleTn = document.getElementById('totalAmountMiddleTn');
	totalAmountMiddleTn.value = (+xMiddleTn) + (+sponsorshipMiddleTn);
}
</script>

</body>
</html>