<!DOCTYPE html>
<html>
<head>

<title>Big Rigs Form Middle TN</title>

<style type="text/css">
label {font-weight: bold;}
span {font-weight: 500;}
.table input[type="submit"] {
    display: block;
    margin: 5px;
    padding: 4px 15px;
    border: 1px solid #4081af;
    border-bottom-color: #20559a;
    color: white;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    khtml-border-radius: 4px;
    border-radius: 4px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #52a8e8), color-stop(1, #2e76cf));
    background: -moz-linear-gradient(center top, #52a8e8 20%, #2e76cf 100%);
}
.entry-content table, .entry-content tr td {border:transparent;}
</style>

</head>
<body>

<form name="middletn" method="post" action="https://paywithcardx.com/pay/" onchange="calculateMiddleTn()" onsubmit="javascript:return ();" id="" _lpchecked="1" ng-app>
	<input type='hidden' name='pt_gateway_account' value='nobledemo'><!-- field to set gateway account name --><input type='hidden' name='pt_ach_sec_code' value='WEB'><!-- required for ACH transactions --><input type='hidden' name='pd_display_items' value='yes'><!-- field to allow payment page to display itemized data --><input type='hidden' name='pb_success_url' value='http://www.yoursite.com/thankyou.htm'> <!-- field sets the landing page or thank you page URL --><input type='hidden' name='pt_account_code_1' value='golf'><!-- field for identifier -->
	
	<table class="table">
		<tr>
			<td><label>Middle TN:</label></td>
			<td>
				<select id="playersselectMiddleTn" name="" ng-model="playersselectMiddleTn">
					<option value="">Select</option>
					<option value="212.50">1 Player $212.50</option>
					<option value="425.00">2 Players $425.00</option>
					<option value="637.50">3 Players $637.50</option>
					<option value="850.00">4 Players $850.00</option>
					<option value="2500.00">Booster (includes 4 Players) $2500.00</option>
					<option value="750.00">Scholarship Sponsor $750.00</option>
					<option value="500.00">Luncheon Sponsor $500.00</option>
					<option value="250.00">Trophy Sponsor $250.00</option>
				</select>
			</td>
		</tr>
		<!-- === -->
		<tr>
			<td><label>Players' Name:</label></td>
			<td>
                <div ng-if="playersselectMiddleTn === '212.50'"><!-- 1 Player $212.50 -->
                    <input type="hidden" name="pt_item_cost_1" value="212.50">

                    <input type="hidden" name="pt_item_description_1" value="1 Player $212.50 - {{middlesponsor}}">

                    <input type="hidden" name="pt_item_quantity_1" value="1">

                    <div><input type="text" name="pt_item_identifier_1" value=""></div>
                </div>
                <div ng-if="playersselectMiddleTn === '425.00'"><!-- 2 Players $425.00 -->
                    <input type="hidden" name="pt_item_cost_1" value="425.00">
                    <input type="hidden" name="pt_item_cost_2" value="425.00">

                    <input type="hidden" name="pt_item_description_1" value="2 Players $425.00 - {{middlesponsor}}">
                    <input type="hidden" name="pt_item_description_2" value="2 Players $425.00 - {{middlesponsor}}">

                    <input type="hidden" name="pt_item_quantity_1" value="1">
                    <input type="hidden" name="pt_item_quantity_2" value="1">

                    <div><input type="text" name="pt_item_identifier_1" value=""></div>
                    <div><input type="text" name="pt_item_identifier_2" value=""></div>
                </div>
                <div ng-if="playersselectMiddleTn === '637.50'"><!-- 3 Players $637.50 -->
                    <input type="hidden" name="pt_item_cost_1" value="637.50">
                    <input type="hidden" name="pt_item_cost_2" value="637.50">
                    <input type="hidden" name="pt_item_cost_3" value="637.50">

                    <input type="hidden" name="pt_item_description_1" value="3 Players $637.50 - {{middlesponsor}}">
                    <input type="hidden" name="pt_item_description_2" value="3 Players $637.50 - {{middlesponsor}}">
                    <input type="hidden" name="pt_item_description_3" value="3 Players $637.50 - {{middlesponsor}}">

                    <input type="hidden" name="pt_item_quantity_1" value="1">
                    <input type="hidden" name="pt_item_quantity_2" value="1">
                    <input type="hidden" name="pt_item_quantity_3" value="1">

                    <div><input type="text" name="pt_item_identifier_1" value=""></div>
                    <div><input type="text" name="pt_item_identifier_2" value=""></div>
                    <div><input type="text" name="pt_item_identifier_3" value=""></div>
                </div>
                <div ng-if="playersselectMiddleTn === '850.00'"><!-- 4 Players $850.00 -->
                    <input type="hidden" name="pt_item_cost_1" value="850.00">
                    <input type="hidden" name="pt_item_cost_2" value="850.00">
                    <input type="hidden" name="pt_item_cost_3" value="850.00">
                    <input type="hidden" name="pt_item_cost_4" value="850.00">

                    <input type="hidden" name="pt_item_description_1" value="4 Players $850.00 - {{middlesponsor}}">
                    <input type="hidden" name="pt_item_description_2" value="4 Players $850.00 - {{middlesponsor}}">
                    <input type="hidden" name="pt_item_description_3" value="4 Players $850.00 - {{middlesponsor}}">
                    <input type="hidden" name="pt_item_description_4" value="4 Players $850.00 - {{middlesponsor}}">

                    <input type="hidden" name="pt_item_quantity_1" value="1">
                    <input type="hidden" name="pt_item_quantity_2" value="1">
                    <input type="hidden" name="pt_item_quantity_3" value="1">
                    <input type="hidden" name="pt_item_quantity_4" value="1">

                    <div><input type="text" name="pt_item_identifier_1" value=""></div>
                    <div><input type="text" name="pt_item_identifier_2" value=""></div>
                    <div><input type="text" name="pt_item_identifier_3" value=""></div>
                    <div><input type="text" name="pt_item_identifier_4" value=""></div>
                </div>
                <div ng-if="playersselectMiddleTn === '2500.00'"><!-- Booster (includes 4 Players) $2500.00 -->
                    <input type="hidden" name="pt_item_cost_1" value="2500.00">
                    <input type="hidden" name="pt_item_cost_2" value="2500.00">
                    <input type="hidden" name="pt_item_cost_3" value="2500.00">
                    <input type="hidden" name="pt_item_cost_4" value="2500.00">

                    <input type="hidden" name="pt_item_description_1" value="Booster (includes 4 Players) $2500.00 - {{middlesponsor}}">
                    <input type="hidden" name="pt_item_description_2" value="Booster (includes 4 Players) $2500.00 - {{middlesponsor}}">
                    <input type="hidden" name="pt_item_description_3" value="Booster (includes 4 Players) $2500.00 - {{middlesponsor}}">
                    <input type="hidden" name="pt_item_description_4" value="Booster (includes 4 Players) $2500.00 - {{middlesponsor}}">

                    <input type="hidden" name="pt_item_quantity_1" value="1">
                    <input type="hidden" name="pt_item_quantity_2" value="1">
                    <input type="hidden" name="pt_item_quantity_3" value="1">
                    <input type="hidden" name="pt_item_quantity_4" value="1">

                    <div><input type="text" name="pt_item_identifier_1" value=""></div>
                    <div><input type="text" name="pt_item_identifier_2" value=""></div>
                    <div><input type="text" name="pt_item_identifier_3" value=""></div>
                    <div><input type="text" name="pt_item_identifier_4" value=""></div>
                </div>
                <div ng-if="playersselectMiddleTn === '750.00'"><!-- Scholarship Sponsor $750.00 -->
                    <input type="hidden" name="pt_item_cost_1" value="750.00">
                    <input type="hidden" name="pt_item_cost_2" value="750.00">
                    <input type="hidden" name="pt_item_cost_3" value="750.00">
                    <input type="hidden" name="pt_item_cost_4" value="750.00">

                    <input type="hidden" name="pt_item_description_1" value="Scholarship Sponsor $750.00 - {{middlesponsor}}">
                    <input type="hidden" name="pt_item_description_2" value="Scholarship Sponsor $750.00 - {{middlesponsor}}">
                    <input type="hidden" name="pt_item_description_3" value="Scholarship Sponsor $750.00 - {{middlesponsor}}">
                    <input type="hidden" name="pt_item_description_4" value="Scholarship Sponsor $750.00 - {{middlesponsor}}">

                    <input type="hidden" name="pt_item_quantity_1" value="1">
                    <input type="hidden" name="pt_item_quantity_2" value="1">
                    <input type="hidden" name="pt_item_quantity_3" value="1">
                    <input type="hidden" name="pt_item_quantity_4" value="1">

                    <div><input type="text" name="pt_item_identifier_1" value=""></div>
                    <div><input type="text" name="pt_item_identifier_2" value=""></div>
                    <div><input type="text" name="pt_item_identifier_3" value=""></div>
                    <div><input type="text" name="pt_item_identifier_4" value=""></div>
                </div>
                <div ng-if="playersselectMiddleTn === '500.00'"><!-- Luncheon Sponsor $500.00 -->
                    <input type="hidden" name="pt_item_cost_1" value="500.00">
                    <input type="hidden" name="pt_item_cost_2" value="500.00">
                    <input type="hidden" name="pt_item_cost_3" value="500.00">
                    <input type="hidden" name="pt_item_cost_4" value="500.00">

                    <input type="hidden" name="pt_item_description_1" value="Luncheon Sponsor $500.00 - {{middlesponsor}}">
                    <input type="hidden" name="pt_item_description_2" value="Luncheon Sponsor $500.00 - {{middlesponsor}}">
                    <input type="hidden" name="pt_item_description_3" value="Luncheon Sponsor $500.00 - {{middlesponsor}}">
                    <input type="hidden" name="pt_item_description_4" value="Luncheon Sponsor $500.00 - {{middlesponsor}}">

                    <input type="hidden" name="pt_item_quantity_1" value="1">
                    <input type="hidden" name="pt_item_quantity_2" value="1">
                    <input type="hidden" name="pt_item_quantity_3" value="1">
                    <input type="hidden" name="pt_item_quantity_4" value="1">

                    <div><input type="text" name="pt_item_identifier_1" value=""></div>
                    <div><input type="text" name="pt_item_identifier_2" value=""></div>
                    <div><input type="text" name="pt_item_identifier_3" value=""></div>
                    <div><input type="text" name="pt_item_identifier_4" value=""></div>
                </div>
                <div ng-if="playersselectMiddleTn === '250.00'"><!-- Trophy Sponsor $250.00 -->
                    <input type="hidden" name="pt_item_cost_1" value="250.00">
                    <input type="hidden" name="pt_item_cost_2" value="250.00">
                    <input type="hidden" name="pt_item_cost_3" value="250.00">
                    <input type="hidden" name="pt_item_cost_4" value="250.00">

                    <input type="hidden" name="pt_item_description_1" value="Trophy Sponsor $250.00 - {{middlesponsor}}">
                    <input type="hidden" name="pt_item_description_2" value="Trophy Sponsor $250.00 - {{middlesponsor}}">
                    <input type="hidden" name="pt_item_description_3" value="Trophy Sponsor $250.00 - {{middlesponsor}}">
                    <input type="hidden" name="pt_item_description_4" value="Trophy Sponsor $250.00 - {{middlesponsor}}">

                    <input type="hidden" name="pt_item_quantity_1" value="1">
                    <input type="hidden" name="pt_item_quantity_2" value="1">
                    <input type="hidden" name="pt_item_quantity_3" value="1">
                    <input type="hidden" name="pt_item_quantity_4" value="1">

                    <div><input type="text" name="pt_item_identifier_1" value=""></div>
                    <div><input type="text" name="pt_item_identifier_2" value=""></div>
                    <div><input type="text" name="pt_item_identifier_3" value=""></div>
                    <div><input type="text" name="pt_item_identifier_4" value=""></div>
                </div>
				<!-- <div><input type="text" name="" id=""></div>
				<span id="playersnameMiddleTn"></span> -->
			</td>
		</tr>
		<!-- === -->
		<tr>
			<td><label>Name for Sponsor Signage</label></td>
			<td><input type="text" name="" ng-model="middlesponsor" value=""></td>
		</tr>
		<!-- === -->
		<tr>
			<td colspan="2"></td>
			<td><label>Total:</label></td>
			<td><input value="" name="" id="totalAmountMiddleTn" readonly="readonly"></td>
		</tr>
		<!-- === -->
		<tr>
			<td><input type='submit' name='return' value='Pay Now'></td>
		</tr>
	</table>
</form>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

<script type="text/javascript">
function calculateMiddleTn() {
	var xMiddleTn = document.getElementById("playersselectMiddleTn").value;
    // if (xMiddleTn == "212.50") {
    // 	document.getElementById("playersnameMiddleTn").innerHTML = "<span></span>";
    // }else if (xMiddleTn == "425.00") {
    // 	document.getElementById("playersnameMiddleTn").innerHTML = "<div><input type='text' name='' id='' value=''></div>";
    // }else if (xMiddleTn == "637.50") {
    // 	document.getElementById("playersnameMiddleTn").innerHTML = 
    // 	"<div><input type='text' name='' id='' value=''></div>" +
    // 	"<div><input type='text' name='' id='' value=''></div>";
    // }else if (xMiddleTn == "850.00") {
    // 	document.getElementById("playersnameMiddleTn").innerHTML = 
    // 	"<div><input type='text' name='' id='' value=''></div>" +
    // 	"<div><input type='text' name='' id='' value=''></div>" +
    // 	"<div><input type='text' name='' id='' value=''></div>";
    // }else if (xMiddleTn == "2500.00") {
    // 	document.getElementById("playersnameMiddleTn").innerHTML = 
    // 	"<div><input type='text' name='' id='' value=''></div>" +
    // 	"<div><input type='text' name='' id='' value=''></div>" +
    // 	"<div><input type='text' name='' id='' value=''></div>";
    // }else if (xMiddleTn == "750.00") {
    // 	document.getElementById("playersnameMiddleTn").innerHTML = 
    // 	"<div><input type='text' name='' id='' value=''></div>" +
    // 	"<div><input type='text' name='' id='' value=''></div>" +
    // 	"<div><input type='text' name='' id='' value=''></div>";
    // }else if (xMiddleTn == "500.00") {
    // 	document.getElementById("playersnameMiddleTn").innerHTML = 
    // 	"<div><input type='text' name='' id='' value=''></div>" +
    // 	"<div><input type='text' name='' id='' value=''></div>" +
    // 	"<div><input type='text' name='' id='' value=''></div>";
    // }else if (xMiddleTn == "250.00") {
    // 	document.getElementById("playersnameMiddleTn").innerHTML = 
    // 	"<div><input type='text' name='' id='' value=''></div>" +
    // 	"<div><input type='text' name='' id='' value=''></div>" +
    // 	"<div><input type='text' name='' id='' value=''></div>";
    // }

	var totalAmountMiddleTn = document.getElementById('totalAmountMiddleTn');
	totalAmountMiddleTn.value = xMiddleTn;
}
</script>

</body>
</html>