<!DOCTYPE html>
<html>
<head>

<title>Big Rigs Form Southeast TN</title>

<style type="text/css">
label {font-weight: bold;}
span {font-weight: 500;}
.table input[type="submit"] {
	display: block;
    margin: 5px;
    padding: 4px 15px;
    border: 1px solid #4081af;
    border-bottom-color: #20559a;
    color: white;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    khtml-border-radius: 4px;
    border-radius: 4px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #52a8e8), color-stop(1, #2e76cf));
    background: -moz-linear-gradient(center top, #52a8e8 20%, #2e76cf 100%);
}
.entry-content table, .entry-content tr td {border:transparent;}
</style>

</head>
<body>

<form name="southeasttn" method="post" action="https://paywithcardx.com/pay/" onchange="calculateSoutheastTn()" onsubmit="javascript:return ();" id="" _lpchecked="1" ng-app>
	<input type='hidden' name='pt_gateway_account' value='nobledemo'><!-- field to set gateway account name --><input type='hidden' name='pt_ach_sec_code' value='WEB'><!-- required for ACH transactions --><input type='hidden' name='pd_display_items' value='yes'><!-- field to allow payment page to display itemized data --><input type='hidden' name='pb_success_url' value='http://www.yoursite.com/thankyou.htm'> <!-- field sets the landing page or thank you page URL --><input type='hidden' name='pt_account_code_1' value='golf'><!-- field for identifier -->
	
	<table class="table">
		<tr>
			<td><label>Southeast TN:</label></td>
			<td>
				<select id="playersselectSoutheastTn" name="" ng-model="playersselectSoutheastTn">
					<option value="">Select</option>
					<option value="137.50">1 Player $137.50</option>
					<option value="275.00">2 Players $275.00</option>
					<option value="412.50">3 Players $412.50</option>
					<option value="550.00">4 Players $550.00</option>
					<option value="250.00">Bronze Sponsor $250.00</option>
					<option value="500.00">Silver Sponsor $500.00</option>
					<option value="1000.00">Platinum Sponsor $1000.00</option>
				</select>
			</td>
		</tr>
		<!-- === -->
		<tr>
			<td><label>Players' Name:</label></td>
			<td>
				<div ng-if="playersselectSoutheastTn === '137.50'"><!-- 1 Player $137.50 -->
					<input type="hidden" name="pt_item_cost_1" value="{{(137.50 + 100.00)}}">

					<input type="hidden" name="pt_item_description_1" value="1 Player $137.50 - {{southeastsponsor}}">

					<input type="hidden" name="pt_item_quantity_1" value="{{southeastqty}}">

                    <div><input type="text" name="pt_item_identifier_1" value=""></div>
                </div>
                <div ng-if="playersselectSoutheastTn === '275.00'"><!-- 2 Players $275.00 -->
                	<input type="hidden" name="pt_item_cost_1" value="{{(275.00 + 100.00)}}">
                	<input type="hidden" name="pt_item_cost_2" value="{{(275.00 + 100.00)}}">

                	<input type="hidden" name="pt_item_description_1" value="2 Players $275.00 - {{southeastsponsor}}">
                	<input type="hidden" name="pt_item_description_2" value="2 Players $275.00 - {{southeastsponsor}}">

                	<input type="hidden" name="pt_item_quantity_1" value="{{southeastqty}}">
                	<input type="hidden" name="pt_item_quantity_2" value="{{southeastqty}}">

                    <div><input type="text" name="pt_item_identifier_1" value=""></div>
                    <div><input type="text" name="pt_item_identifier_2" value=""></div>
                </div>
                <div ng-if="playersselectSoutheastTn === '412.50'"><!-- 3 Players $412.50 -->
                	<input type="hidden" name="pt_item_cost_1" value="{{(412.50 + 100.00)}}">
                	<input type="hidden" name="pt_item_cost_2" value="{{(412.50 + 100.00)}}">
                	<input type="hidden" name="pt_item_cost_3" value="{{(412.50 + 100.00)}}">

                	<input type="hidden" name="pt_item_description_1" value="3 Players $412.50 - {{southeastsponsor}}">
                	<input type="hidden" name="pt_item_description_2" value="3 Players $412.50 - {{southeastsponsor}}">
                	<input type="hidden" name="pt_item_description_3" value="3 Players $412.50 - {{southeastsponsor}}">

                	<input type="hidden" name="pt_item_quantity_1" value="{{southeastqty}}">
                	<input type="hidden" name="pt_item_quantity_2" value="{{southeastqty}}">
                	<input type="hidden" name="pt_item_quantity_3" value="{{southeastqty}}">

                    <div><input type="text" name="pt_item_identifier_1" value=""></div>
                    <div><input type="text" name="pt_item_identifier_2" value=""></div>
                    <div><input type="text" name="pt_item_identifier_3" value=""></div>
                </div>
                <div ng-if="playersselectSoutheastTn === '550.00'"><!-- 4 Players $550.00 -->
                	<input type="hidden" name="pt_item_cost_1" value="{{(550.00 + 100.00)}}">
                	<input type="hidden" name="pt_item_cost_2" value="{{(550.00 + 100.00)}}">
                	<input type="hidden" name="pt_item_cost_3" value="{{(550.00 + 100.00)}}">
                	<input type="hidden" name="pt_item_cost_4" value="{{(550.00 + 100.00)}}">

                	<input type="hidden" name="pt_item_description_1" value="4 Players $550.00 - {{southeastsponsor}}">
                	<input type="hidden" name="pt_item_description_2" value="4 Players $550.00 - {{southeastsponsor}}">
                	<input type="hidden" name="pt_item_description_3" value="4 Players $550.00 - {{southeastsponsor}}">
                	<input type="hidden" name="pt_item_description_4" value="4 Players $550.00 - {{southeastsponsor}}">

                	<input type="hidden" name="pt_item_quantity_1" value="{{southeastqty}}">
                	<input type="hidden" name="pt_item_quantity_2" value="{{southeastqty}}">
                	<input type="hidden" name="pt_item_quantity_3" value="{{southeastqty}}">
                	<input type="hidden" name="pt_item_quantity_4" value="{{southeastqty}}">

                    <div><input type="text" name="pt_item_identifier_1" value=""></div>
                    <div><input type="text" name="pt_item_identifier_2" value=""></div>
                    <div><input type="text" name="pt_item_identifier_3" value=""></div>
                    <div><input type="text" name="pt_item_identifier_4" value=""></div>
                </div>
                <div ng-if="playersselectSoutheastTn === '250.00'"><!-- Bronze Sponsor $250.00 -->
                	<input type="hidden" name="pt_item_cost_1" value="{{(250.00 + 100.00)}}">
                	<input type="hidden" name="pt_item_cost_2" value="{{(250.00 + 100.00)}}">
                	<input type="hidden" name="pt_item_cost_3" value="{{(250.00 + 100.00)}}">
                	<input type="hidden" name="pt_item_cost_4" value="{{(250.00 + 100.00)}}">

                	<input type="hidden" name="pt_item_description_1" value="Bronze Sponsor $250.00 - {{southeastsponsor}}">
                	<input type="hidden" name="pt_item_description_2" value="Bronze Sponsor $250.00 - {{southeastsponsor}}">
                	<input type="hidden" name="pt_item_description_3" value="Bronze Sponsor $250.00 - {{southeastsponsor}}">
                	<input type="hidden" name="pt_item_description_4" value="Bronze Sponsor $250.00 - {{southeastsponsor}}">

                	<input type="hidden" name="pt_item_quantity_1" value="{{southeastqty}}">
                	<input type="hidden" name="pt_item_quantity_2" value="{{southeastqty}}">
                	<input type="hidden" name="pt_item_quantity_3" value="{{southeastqty}}">
                	<input type="hidden" name="pt_item_quantity_4" value="{{southeastqty}}">

                    <div><input type="text" name="pt_item_identifier_1" value=""></div>
                    <div><input type="text" name="pt_item_identifier_2" value=""></div>
                    <div><input type="text" name="pt_item_identifier_3" value=""></div>
                    <div><input type="text" name="pt_item_identifier_4" value=""></div>
                </div>
                <div ng-if="playersselectSoutheastTn === '500.00'"><!-- Silver Sponsor $500.00 -->
                	<input type="hidden" name="pt_item_cost_1" value="{{(500.00 + 100.00)}}">
                	<input type="hidden" name="pt_item_cost_2" value="{{(500.00 + 100.00)}}">
                	<input type="hidden" name="pt_item_cost_3" value="{{(500.00 + 100.00)}}">
                	<input type="hidden" name="pt_item_cost_4" value="{{(500.00 + 100.00)}}">

                	<input type="hidden" name="pt_item_description_1" value="Silver Sponsor $500.00 - {{southeastsponsor}}">
                	<input type="hidden" name="pt_item_description_2" value="Silver Sponsor $500.00 - {{southeastsponsor}}">
                	<input type="hidden" name="pt_item_description_3" value="Silver Sponsor $500.00 - {{southeastsponsor}}">
                	<input type="hidden" name="pt_item_description_4" value="Silver Sponsor $500.00 - {{southeastsponsor}}">

                	<input type="hidden" name="pt_item_quantity_1" value="{{southeastqty}}">
                	<input type="hidden" name="pt_item_quantity_2" value="{{southeastqty}}">
                	<input type="hidden" name="pt_item_quantity_3" value="{{southeastqty}}">
                	<input type="hidden" name="pt_item_quantity_4" value="{{southeastqty}}">

                    <div><input type="text" name="pt_item_identifier_1" value=""></div>
                    <div><input type="text" name="pt_item_identifier_2" value=""></div>
                    <div><input type="text" name="pt_item_identifier_3" value=""></div>
                    <div><input type="text" name="pt_item_identifier_4" value=""></div>
                </div>
                <div ng-if="playersselectSoutheastTn === '1000.00'"><!-- Platinum Sponsor $1000.00 -->
                	<input type="hidden" name="pt_item_cost_1" value="{{(1000.00 + 100.00)}}">
                	<input type="hidden" name="pt_item_cost_2" value="{{(1000.00 + 100.00)}}">
                	<input type="hidden" name="pt_item_cost_3" value="{{(1000.00 + 100.00)}}">
                	<input type="hidden" name="pt_item_cost_4" value="{{(1000.00 + 100.00)}}">

                	<input type="hidden" name="pt_item_description_1" value="Platinum Sponsor $1000.00 - {{southeastsponsor}}">
                	<input type="hidden" name="pt_item_description_2" value="Platinum Sponsor $1000.00 - {{southeastsponsor}}">
                	<input type="hidden" name="pt_item_description_3" value="Platinum Sponsor $1000.00 - {{southeastsponsor}}">
                	<input type="hidden" name="pt_item_description_4" value="Platinum Sponsor $1000.00 - {{southeastsponsor}}">

                	<input type="hidden" name="pt_item_quantity_1" value="{{southeastqty}}">
                	<input type="hidden" name="pt_item_quantity_2" value="{{southeastqty}}">
                	<input type="hidden" name="pt_item_quantity_3" value="{{southeastqty}}">
                	<input type="hidden" name="pt_item_quantity_4" value="{{southeastqty}}">

                    <div><input type="text" name="pt_item_identifier_1" value=""></div>
                    <div><input type="text" name="pt_item_identifier_2" value=""></div>
                    <div><input type="text" name="pt_item_identifier_3" value=""></div>
                    <div><input type="text" name="pt_item_identifier_4" value=""></div>
                </div>
				<!-- <div><input type="text" name="" id=""></div>
				<span id="playersnameSoutheastTn"></span> -->
			</td>
		</tr>
		<!-- === -->
		<tr>
			<td><label>Name for Sponsor Signage</label></td>
			<td><input type="text" name="" id=""></td>
		</tr>
		<!-- === -->
		<tr>
			<td><label>Hole Sponsorship ($100/each)</label></td>
		</tr>
		<!-- === -->
		<tr>
			<td><label>Quantity:</label></td>
			<td>
				<select id="quantityIdSoutheastTn" name="" ng-model="southeastqty">
					<option value="">Select</option>
					<option value="1">1</option><option value="2">2</option>
					<option value="3">3</option><option value="4">4</option>
					<option value="5">5</option><option value="6">6</option>
					<option value="7">7</option><option value="8">8</option>
					<option value="9">9</option><option value="10">10</option>
					<option value="11">11</option><option value="12">12</option>
					<option value="13">13</option><option value="14">14</option>
					<option value="15">15</option><option value="16">16</option>
					<option value="17">17</option><option value="18">18</option>
				</select>
			</td>
			<td><label>Amount:</label></td>
			<td><input id="resultAmountSoutheastTn" readonly="readonly" name="" value=""></td>
		</tr>
		<!-- === -->
		<tr>
			<td><label>Name of Sponsor Signage:</label></td>
			<td><input type="text" name="" ng-model="southeastsponsor" value=""></td>
		</tr>
		<!-- === -->
		<tr>
			<td colspan="2"></td>
			<td><label>Total:</label></td>
			<td><input value="" name="" id="totalAmountSoutheastTn" readonly="readonly"></td>
		</tr>
		<!-- === -->
		<tr>
			<td><input type='submit' name='return' value='Pay Now'></td>
		</tr>
	</table>
</form>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

<script type="text/javascript">
function calculateSoutheastTn() {
	var xSoutheastTn = document.getElementById("playersselectSoutheastTn").value;
    // if (xSoutheastTn == "137.50") {
    // 	document.getElementById("playersnameSoutheastTn").innerHTML = "<span></span>";
    // }else if (xSoutheastTn == "275.00") {
    // 	document.getElementById("playersnameSoutheastTn").innerHTML = "<div><input type='text' name='' id='' value=''></div>";
    // }else if (xSoutheastTn == "412.50") {
    // 	document.getElementById("playersnameSoutheastTn").innerHTML = 
    // 	"<div><input type='text' name='' id='' value=''></div>" +
    // 	"<div><input type='text' name='' id='' value=''></div>";
    // }else if (xSoutheastTn == "550.00") {
    // 	document.getElementById("playersnameSoutheastTn").innerHTML = 
    // 	"<div><input type='text' name='' id='' value=''></div>" +
    // 	"<div><input type='text' name='' id='' value=''></div>" +
    // 	"<div><input type='text' name='' id='' value=''></div>";
    // }else if (xSoutheastTn == "250.00") {
    // 	document.getElementById("playersnameSoutheastTn").innerHTML = 
    // 	"<div><input type='text' name='' id='' value=''></div>" +
    // 	"<div><input type='text' name='' id='' value=''></div>" +
    // 	"<div><input type='text' name='' id='' value=''></div>";
    // }else if (xSoutheastTn == "500.00") {
    // 	document.getElementById("playersnameSoutheastTn").innerHTML = 
    // 	"<div><input type='text' name='' id='' value=''></div>" +
    // 	"<div><input type='text' name='' id='' value=''></div>" +
    // 	"<div><input type='text' name='' id='' value=''></div>";
    // }else if (xSoutheastTn == "1000.00") {
    // 	document.getElementById("playersnameSoutheastTn").innerHTML = 
    // 	"<div><input type='text' name='' id='' value=''></div>" +
    // 	"<div><input type='text' name='' id='' value=''></div>" +
    // 	"<div><input type='text' name='' id='' value=''></div>";
    // }

	var qtySoutheastTn = document.getElementById('quantityIdSoutheastTn').value;
	var resultAmountSoutheastTn = document.getElementById('resultAmountSoutheastTn');
	var myResultSoutheastTn = qtySoutheastTn * 100.00;
	resultAmountSoutheastTn.value = myResultSoutheastTn;

	var totalAmountSoutheastTn = document.getElementById('totalAmountSoutheastTn');
	totalAmountSoutheastTn.value = (+xSoutheastTn) + (+myResultSoutheastTn);
}
</script>

</body>
</html>