<!DOCTYPE html>
<html>
<head>

<title>Big Rigs Form West TN</title>

<style type="text/css">
label {font-weight: bold;}
span {font-weight: 500;}
.table input[type="submit"] {
	display: block;
    margin: 5px;
    padding: 4px 15px;
    border: 1px solid #4081af;
    border-bottom-color: #20559a;
    color: white;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    khtml-border-radius: 4px;
    border-radius: 4px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #52a8e8), color-stop(1, #2e76cf));
    background: -moz-linear-gradient(center top, #52a8e8 20%, #2e76cf 100%);
}
.entry-content table, .entry-content tr td {border:transparent;}
</style>

</head>
<body>

<form name="westtn" method="post" action="https://paywithcardx.com/pay/" onchange="calculateWestTn()" onsubmit="javascript:return ();" id="" _lpchecked="1" ng-app>
	<input type='hidden' name='pt_gateway_account' value='nobledemo'><!-- field to set gateway account name --><input type='hidden' name='pt_ach_sec_code' value='WEB'><!-- required for ACH transactions --><input type='hidden' name='pd_display_items' value='yes'><!-- field to allow payment page to display itemized data --><input type='hidden' name='pb_success_url' value='http://www.yoursite.com/thankyou.htm'> <!-- field sets the landing page or thank you page URL --><input type='hidden' name='pt_account_code_1' value='golf'><!-- field for identifier -->
	<table class="table">
		<tr>
			<td><label>West TN:</label></td>
			<td>
				<select id="playersselectWestTn" name="" ng-model="playersselectWestTn">
					<option value="">Select</option>
					<option value="160.00">1 Player $160.00</option>
					<option value="320.00">2 Players $320.00</option>
					<option value="480.00">3 Players $480.00</option>
					<option value="640.00">4 Players $640.00</option>
					<option value="3000.00">Title Sponsor $3000.00</option>
					<option value="1500.00">Platinum Sponsor $1500.00</option>
					<option value="500.00">Gold Sponsor $500.00</option>
				</select>
			</td>
		</tr>
		<!-- === -->
		<tr>
			<td><label>Players' Name:</label></td>
			<td>
				<div ng-if="playersselectWestTn === '160.00'"><!-- 1 Player $160.00 -->
					<input type="hidden" name="pt_item_cost_1" value="200.00">
					<input type="hidden" name="pt_item_cost_2" value="160.00">
					<input type="hidden" name="pt_item_cost_3" value="0.00">

					<input type="hidden" name="pt_item_description_1" value="Add $200.00">
					<input type="hidden" name="pt_item_description_2" value="Add 160.00">
					<input type="hidden" name="pt_item_description_3" value="Player 1 - {{westsponsor}}">

					<input type="hidden" name="pt_item_quantity_1" value="{{westqty}}">
					<input type="hidden" name="pt_item_quantity_2" value="1">
					<input type="hidden" name="pt_item_quantity_3" value="1">

                    <div><input type="hidden" name="pt_item_identifier_1" value=""></div>
                    <div><input type="hidden" name="pt_item_identifier_2" value=""></div>
                    <div><input type="text" name="pt_item_identifier_3" value=""></div>
                </div>
                <div ng-if="playersselectWestTn === '320.00'"><!-- 2 Players $320.00 -->
                	<input type="hidden" name="pt_item_cost_1" value="200.00">
                	<input type="hidden" name="pt_item_cost_2" value="320.00">
                	<input type="hidden" name="pt_item_cost_3" value="0.00">
                	<input type="hidden" name="pt_item_cost_4" value="0.00">

                	<input type="hidden" name="pt_item_description_1" value="Add $200.00">
                	<input type="hidden" name="pt_item_description_2" value="Add $320.00">
                	<input type="hidden" name="pt_item_description_3" value="Player 1 - {{westsponsor}}">
                	<input type="hidden" name="pt_item_description_4" value="Player 2 - {{westsponsor}}">

                	<input type="hidden" name="pt_item_quantity_1" value="{{westqty}}">
                	<input type="hidden" name="pt_item_quantity_2" value="1">
                	<input type="hidden" name="pt_item_quantity_3" value="1">
                	<input type="hidden" name="pt_item_quantity_4" value="1">

                    <div><input type="hidden" name="pt_item_identifier_1" value=""></div>
                    <div><input type="hidden" name="pt_item_identifier_2" value=""></div>
                    <div><input type="text" name="pt_item_identifier_3" value=""></div>
                    <div><input type="text" name="pt_item_identifier_4" value=""></div>
                </div>
                <div ng-if="playersselectWestTn === '480.00'"><!-- 3 Players $480.00 -->
                	<input type="hidden" name="pt_item_cost_1" value="200.00">
                	<input type="hidden" name="pt_item_cost_2" value="480.00">
                	<input type="hidden" name="pt_item_cost_3" value="0.00">
                	<input type="hidden" name="pt_item_cost_4" value="0.00">
                	<input type="hidden" name="pt_item_cost_5" value="0.00">

                	<input type="hidden" name="pt_item_description_1" value="Add $200.00">
                	<input type="hidden" name="pt_item_description_2" value="Add $480.00">
                	<input type="hidden" name="pt_item_description_3" value="Player 1 - {{westsponsor}}">
                	<input type="hidden" name="pt_item_description_4" value="Player 2 - {{westsponsor}}">
                	<input type="hidden" name="pt_item_description_5" value="Player 3 - {{westsponsor}}">

                	<input type="hidden" name="pt_item_quantity_1" value="{{westqty}}">
                	<input type="hidden" name="pt_item_quantity_2" value="1">
                	<input type="hidden" name="pt_item_quantity_3" value="1">
                	<input type="hidden" name="pt_item_quantity_4" value="1">
                	<input type="hidden" name="pt_item_quantity_5" value="1">

                    <div><input type="hidden" name="pt_item_identifier_1" value=""></div>
                    <div><input type="hidden" name="pt_item_identifier_2" value=""></div>
                   	<div><input type="text" name="pt_item_identifier_3" value=""></div>
                   	<div><input type="text" name="pt_item_identifier_4" value=""></div>
                   	<div><input type="text" name="pt_item_identifier_5" value=""></div>
                </div>
                <div ng-if="playersselectWestTn === '640.00'"><!-- 4 Players $640.00 -->
                    <input type="hidden" name="pt_item_cost_1" value="200.00">
                    <input type="hidden" name="pt_item_cost_2" value="640.00">
                    <input type="hidden" name="pt_item_cost_3" value="0.00">
                    <input type="hidden" name="pt_item_cost_4" value="0.00">
                    <input type="hidden" name="pt_item_cost_5" value="0.00">
                    <input type="hidden" name="pt_item_cost_6" value="0.00">

                    <input type="hidden" name="pt_item_description_1" value="Add $200.00">
                    <input type="hidden" name="pt_item_description_2" value="Add $640.00">
                    <input type="hidden" name="pt_item_description_3" value="Player 1 - {{westsponsor}}">
                    <input type="hidden" name="pt_item_description_4" value="Player 2 - {{westsponsor}}">
                    <input type="hidden" name="pt_item_description_5" value="Player 3 - {{westsponsor}}">
                    <input type="hidden" name="pt_item_description_6" value="Player 4 - {{westsponsor}}">

                    <input type="hidden" name="pt_item_quantity_1" value="{{westqty}}">
                    <input type="hidden" name="pt_item_quantity_2" value="1">
                    <input type="hidden" name="pt_item_quantity_3" value="1">
                    <input type="hidden" name="pt_item_quantity_4" value="1">
                    <input type="hidden" name="pt_item_quantity_5" value="1">
                    <input type="hidden" name="pt_item_quantity_6" value="1">

                    <div><input type="hidden" name="pt_item_identifier_1" value=""></div>
					<div><input type="hidden" name="pt_item_identifier_2" value=""></div>
					<div><input type="text" name="pt_item_identifier_3" value=""></div>
					<div><input type="text" name="pt_item_identifier_4" value=""></div>
					<div><input type="text" name="pt_item_identifier_5" value=""></div>
					<div><input type="text" name="pt_item_identifier_6" value=""></div>
                </div>
                <div ng-if="playersselectWestTn === '3000.00'"><!-- Title Sponsor $3000.00 -->
                	<input type="hidden" name="pt_item_cost_1" value="200.00">
                	<input type="hidden" name="pt_item_cost_2" value="3000.00">
                	<input type="hidden" name="pt_item_cost_3" value="0.00">
                	<input type="hidden" name="pt_item_cost_4" value="0.00">
                    <input type="hidden" name="pt_item_cost_5" value="0.00">
                    <input type="hidden" name="pt_item_cost_6" value="0.00">

                	<input type="hidden" name="pt_item_description_1" value="Add $200.00">
                	<input type="hidden" name="pt_item_description_2" value="Add $3000.00">
                	<input type="hidden" name="pt_item_description_3" value="Player 1 Title Sponsor - {{westsponsor}}">
                	<input type="hidden" name="pt_item_description_4" value="Player 2 Title Sponsor - {{westsponsor}}">
                    <input type="hidden" name="pt_item_description_5" value="Player 3 Title Sponsor - {{westsponsor}}">
                    <input type="hidden" name="pt_item_description_6" value="Player 4 Title Sponsor - {{westsponsor}}">

                	<input type="hidden" name="pt_item_quantity_1" value="{{westqty}}">
                	<input type="hidden" name="pt_item_quantity_2" value="1">
                	<input type="hidden" name="pt_item_quantity_3" value="1">
                	<input type="hidden" name="pt_item_quantity_4" value="1">
                    <input type="hidden" name="pt_item_quantity_5" value="1">
                    <input type="hidden" name="pt_item_quantity_6" value="1">

                    <div><input type="hidden" name="pt_item_identifier_1" value=""></div>
					<div><input type="hidden" name="pt_item_identifier_2" value=""></div>
					<div><input type="text" name="pt_item_identifier_3" value=""></div>
					<div><input type="text" name="pt_item_identifier_4" value=""></div>
                    <div><input type="text" name="pt_item_identifier_5" value=""></div>
                    <div><input type="text" name="pt_item_identifier_6" value=""></div>
                </div>
                <div ng-if="playersselectWestTn === '1500.00'"><!-- Platinum Sponsor $1500.00 -->
                	<input type="hidden" name="pt_item_cost_1" value="200.00">
                	<input type="hidden" name="pt_item_cost_2" value="1500.00">
                	<input type="hidden" name="pt_item_cost_3" value="0.00">
                	<input type="hidden" name="pt_item_cost_4" value="0.00">
                    <input type="hidden" name="pt_item_cost_5" value="0.00">
                    <input type="hidden" name="pt_item_cost_6" value="0.00">

                	<input type="hidden" name="pt_item_description_1" value="Add $200.00">
                	<input type="hidden" name="pt_item_description_2" value="Add $1500.00">
                	<input type="hidden" name="pt_item_description_3" value="Player 1 Platinum Sponsor - {{westsponsor}}">
                	<input type="hidden" name="pt_item_description_4" value="Player 2 Platinum Sponsor - {{westsponsor}}">
                    <input type="hidden" name="pt_item_description_5" value="Player 3 Platinum Sponsor - {{westsponsor}}">
                    <input type="hidden" name="pt_item_description_6" value="Player 4 Platinum Sponsor - {{westsponsor}}">

                	<input type="hidden" name="pt_item_quantity_1" value="{{westqty}}">
                	<input type="hidden" name="pt_item_quantity_2" value="1">
                	<input type="hidden" name="pt_item_quantity_3" value="1">
                	<input type="hidden" name="pt_item_quantity_4" value="1">
                    <input type="hidden" name="pt_item_quantity_5" value="1">
                    <input type="hidden" name="pt_item_quantity_6" value="1">

                    <div><input type="hidden" name="pt_item_identifier_1" value=""></div>
					<div><input type="hidden" name="pt_item_identifier_2" value=""></div>
					<div><input type="text" name="pt_item_identifier_3" value=""></div>
					<div><input type="text" name="pt_item_identifier_4" value=""></div>
                    <div><input type="text" name="pt_item_identifier_5" value=""></div>
                    <div><input type="text" name="pt_item_identifier_6" value=""></div>
                </div>
                <div ng-if="playersselectWestTn === '500.00'"><!-- Gold Sponsor $500.00 -->
                	<input type="hidden" name="pt_item_cost_1" value="200.00">
                	<input type="hidden" name="pt_item_cost_2" value="500.00">
                	<input type="hidden" name="pt_item_cost_3" value="0.00">
                	<input type="hidden" name="pt_item_cost_4" value="0.00">
                    <input type="hidden" name="pt_item_cost_5" value="0.00">
                    <input type="hidden" name="pt_item_cost_6" value="0.00">

                	<input type="hidden" name="pt_item_description_1" value="Add $200.00">
                	<input type="hidden" name="pt_item_description_2" value="Add $500.00">
                	<input type="hidden" name="pt_item_description_3" value="Player 1 Platinum Sponsor - {{westsponsor}}">
                	<input type="hidden" name="pt_item_description_4" value="Player 2 Platinum Sponsor - {{westsponsor}}">
                    <input type="hidden" name="pt_item_description_5" value="Player 3 Platinum Sponsor - {{westsponsor}}">
                    <input type="hidden" name="pt_item_description_6" value="Player 4 Platinum Sponsor - {{westsponsor}}">

                	<input type="hidden" name="pt_item_quantity_1" value="{{westqty}}">
                	<input type="hidden" name="pt_item_quantity_2" value="1">
                	<input type="hidden" name="pt_item_quantity_3" value="1">
                	<input type="hidden" name="pt_item_quantity_4" value="1">
                    <input type="hidden" name="pt_item_quantity_5" value="1">
                    <input type="hidden" name="pt_item_quantity_6" value="1">

                    <div><input type="hidden" name="pt_item_identifier_1" value=""></div>
					<div><input type="hidden" name="pt_item_identifier_2" value=""></div>
					<div><input type="text" name="pt_item_identifier_3" value=""></div>
					<div><input type="text" name="pt_item_identifier_4" value=""></div>
                    <div><input type="text" name="pt_item_identifier_5" value=""></div>
                    <div><input type="text" name="pt_item_identifier_6" value=""></div>
                </div>
			</td>
		</tr>
		<!-- === -->
		<tr>
			<td><label>Name for Sponsor Signage</label></td>
			<td><input type="text" name="" id=""></td>
		</tr>
		<!-- === -->
		<tr>
			<td><label>Hole Sponsorship ($200/each)</label></td>
		</tr>
		<!-- === -->
		<tr>
			<td><label>Quantity:</label></td>
			<td>
				<select id="quantityIdWestTn" name="" ng-model="westqty">
					<option value="">Select</option>
					<option value="1">1</option><option value="2">2</option>
					<option value="3">3</option><option value="4">4</option>
					<option value="5">5</option><option value="6">6</option>
					<option value="7">7</option><option value="8">8</option>
					<option value="9">9</option><option value="10">10</option>
					<option value="11">11</option><option value="12">12</option>
					<option value="13">13</option><option value="14">14</option>
					<option value="15">15</option><option value="16">16</option>
					<option value="17">17</option><option value="18">18</option>
				</select>
			</td>
			<td><label>Amount:</label></td>
			<td><input id="resultAmountWestTn" readonly="readonly" name="" value=""></td>
		</tr>
		<!-- === -->
		<tr>
			<td><label>Name of Sponsor Signage:</label></td>
			<td><input type="text" name="" ng-model="westsponsor" value=""></td>
		</tr>
		<!-- === -->
		<tr>
			<td colspan="2"></td>
			<td><label>Total:</label></td>
			<td><input value="" name="" id="totalAmountWestTn" readonly="readonly"></td>
		</tr>
		<!-- === -->
		<tr>
			<td><input type='submit' name='return' value='Pay Now'></td>
		</tr>
	</table>
</form>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

<script type="text/javascript">
function calculateWestTn() {
	var xWestTn = document.getElementById("playersselectWestTn").value;

	var qtyWestTn = document.getElementById('quantityIdWestTn').value;
	var resultAmountWestTn = document.getElementById('resultAmountWestTn');
	var myResultWestTn = qtyWestTn * 200.00;
	resultAmountWestTn.value = myResultWestTn;

	var totalAmountWestTn = document.getElementById('totalAmountWestTn');
	totalAmountWestTn.value = (+xWestTn) + (+myResultWestTn);
}
</script>

</body>
</html>